<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kpmg.cdd.repository.PageFormKeyMapper">
    <sql id="Base_Column_List">
	id,
	page_id,
	title,
	content,
	roll_back,
	current_option,
	post_url
</sql>
    <resultMap id="BaseResultMap" type="com.kpmg.cdd.entity.PageFormKey">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="page_id" property="pageId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="roll_back" property="rollBack" jdbcType="VARCHAR"/>
        <result column="current_option" property="currentOption" jdbcType="VARCHAR"/>
        <result column="post_url" property="postUrl" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insert" parameterType="com.kpmg.cdd.entity.PageFormKey">
    insert into page_form_key (id, page_id, title, 
      content, roll_back, current_option, 
      post_url)
    values (#{id,jdbcType=INTEGER}, #{pageId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{rollBack,jdbcType=VARCHAR}, #{currentOption,jdbcType=VARCHAR}, 
      #{postUrl,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.kpmg.cdd.entity.PageFormKey">
        insert into page_form_key
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pageId != null">
                page_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="rollBack != null">
                roll_back,
            </if>
            <if test="currentOption != null">
                current_option,
            </if>
            <if test="postUrl != null">
                post_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="pageId != null">
                #{pageId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="rollBack != null">
                #{rollBack,jdbcType=VARCHAR},
            </if>
            <if test="currentOption != null">
                #{currentOption,jdbcType=VARCHAR},
            </if>
            <if test="postUrl != null">
                #{postUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectByExample" parameterType="com.kpmg.cdd.entity.PageFormKey" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.page_id pageId,
        t.title,
        t.content,
        t.roll_back rollbacks,
        t.current_option currentOption,
        t.post_url postUrl
        FROM
        page_form_key t
        WHERE
        1 = 1
        <if test="pageId != null and pageId !=''">
            and t.page_id=#{pageId}
        </if>
    </select>

    <select id="getPageFormKeyList" parameterType="map" resultType="map">
        SELECT
        t.id,
        t.page_id pageId,
        t.title,
        t.content,
        t.roll_back rollbacks,
        t.current_option currentOption,
        t.post_url postUrl
        FROM
        page_form_key t
        WHERE
        1 = 1
        <if test="pageId != null and pageId !=''">
            and t.page_id =#{pageId}
        </if>
    </select>

<!--auto generated by codehelper on 2018-07-19 13:05:40-->
	<select id="findOneById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from page_form_key
        where id=#{id,jdbcType=INTEGER}
    </select>

<!--auto generated by codehelper on 2018-07-19 13:06:58-->
	<select id="findOneByPageId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from page_form_key
        where page_id=#{pageId,jdbcType=INTEGER}
    </select>

</mapper>