<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kpmg.cdd.repository.UserMapper">
    <resultMap id="BaseResultMap" type="com.kpmg.cdd.entity.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="employee_no" property="employeeNo" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="CHAR"/>
        <result column="grade" property="grade" jdbcType="VARCHAR"/>
        <result column="user_level" property="userLevel" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
        <result column="roleId" property="roleId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, login_name, password, employee_no, department, username, email, phone, mobile, user_type,
    grade, user_level, create_by, create_date, update_by, update_date, remarks, del_flag,roleId
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
       id, login_name, password, employee_no, department, username, email, phone, mobile, user_type,
    grade, user_level, create_by, create_date, update_by, update_date, remarks, del_flag,roleId
        from user
        where login_name = #{username,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.kpmg.cdd.entity.User">
    insert into user (id, login_name, password, 
      employee_no, department, username,
      email, phone, mobile, 
      user_type, grade, user_level, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag,roleId
      )
    values (#{id,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{employeeNo,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{userType,jdbcType=CHAR}, #{grade,jdbcType=VARCHAR}, #{userLevel,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR},
      #{roleId,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.kpmg.cdd.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="employeeNo != null">
                employee_no,
            </if>
            <if test="department != null">
                department,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="userLevel != null">
                user_level,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="roleId != null">
                roleId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="employeeNo != null">
                #{employeeNo,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                #{department,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=CHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=VARCHAR},
            </if>
            <if test="userLevel != null">
                #{userLevel,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kpmg.cdd.entity.User">
        update user
        <set>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="employeeNo != null">
                employee_no = #{employeeNo,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                user_type = #{userType,jdbcType=CHAR},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=VARCHAR},
            </if>
            <if test="userLevel != null">
                user_level = #{userLevel,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="roleId != null">
                roleId = #{roleId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kpmg.cdd.entity.User">
    update user
    set login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      employee_no = #{employeeNo,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=CHAR},
      grade = #{grade,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      roleId = #{roleId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="getUserInFoListByMap" parameterType="map" resultType="map">
        SELECT
        t.email as email,
        t.phone as phone,
        t.mobile as mobile,
        t.id as id,
        t.login_name username,
        l.`name` role,
        t.`password` password,
        l.id roleId,
        t.create_date createDate,
        t.create_by createBy
        FROM
        USER t
        INNER JOIN role l ON t.roleId = l.id
        WHERE t.del_flag != 1 and l.del_flag!=1 and ifnull(t.user_type,0) !=1
        <if test="loginName != null and loginName !=''">
            and t.login_name like concat('%',#{loginName},'%')
        </if>
        <if test="roleName != null and roleName !=''">
            and l.name =#{roleName}
        </if>
        <if test="userName != null and userName !=''">
            and t.login_name =#{userName}
        </if>
        <if test="userPassword != null and userPassword !=''">
            and t.password =#{userPassword}
        </if>
        <if test="userId != null and userId !=''">
            and t.id =#{userId}
        </if>
    </select>

    <select id="getUserListByMap" resultMap="BaseResultMap" parameterType="Map">
        SELECT
        <include refid="Base_Column_List"/>
        from user WHERE
        del_flag != 1
        <if test="userName != null and userName !=''">
            and login_name =#{userName}
        </if>
        <if test="userPassword != null and userPassword !=''">
            and password =#{userPassword}
        </if>
    </select>
</mapper>